//
// Breadcrumbs
// --------------------------------------------------
.breadcrumb {
    padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
    margin-bottom: $line-height-computed;
    list-style: none;
    > li {
        display: inline-block;
        a {
            color: $breadcrumb-color;
            &:hover {
                color: $breadcrumb-active-color;
            }
        }
        + li:before {
            content: "#{$breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
            padding: 0 5px;
            color: $breadcrumb-color;
        }
    }
    > .active {
        color: $breadcrumb-active-color;
    }
}
