input[type="checkbox"] {
    @include input-checkbox();
    @include input-checkbox-color($primary-color, $primary-color, #fff);
    width: 15px;
    height: 15px;
    &:checked:after{
        top: 3px;
        left: 2px;
        height: 3px;
        width: 6px;
    }
}

input.checkbox-lg {
    width: 19px;
    height: 19px;
    &:checked:after{
        height: 4px;
        width: 9px;
        left: 3px;
        top: 3px;
    }
}


$switchHeightDefaylt: 20px;
$switchHeightLg: 24px;
input.v-switch{
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    width: 32px;
    height: $switchHeightDefaylt;
    border: 1px solid #DFDFDF;
    outline: 0;
    border-radius: 16px;
    box-sizing: border-box;
    background: #DFDFDF;
    &:before,&:after{
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 15px;
        transition:transform .3s;
    }
    &:before{
        width: 30px;
        height: $switchHeightDefaylt - 2;
        background-color: #FDFDFD;
    }
    &:after{
        width: $switchHeightDefaylt - 2;
        height: $switchHeightDefaylt - 2;
        background-color: #FFFFFF;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    }
    &:checked{
        border-color: $primary-color;
        background-color: $primary-color;
        &:before{
            transform: scale(0);
        }
        &:after{
            top: 0px;
            left: 2px;
            transform: translateX(10px);

        }
    }
}

input.v-switch.v-switch-lg{
    height: $switchHeightLg;
    width: 41px;
    &:before{
        height: $switchHeightLg - 2;
        width: 39px;
    }
    &:after{
        width: $switchHeightLg - 2;
        height: $switchHeightLg - 2;
    }
    &:checked{
        &:after{
            transform: translateX(17px);
        }
    }
}
