@charset "UTF-8";
.ngui-primary-color {
    color: $ngui-primary-color;
}
.ngui-primary-bg-color {
    background-color: $ngui-primary-color;
    filter:none;
}
.ngui-primary-border-color {
    border-color: $ngui-primary-color;
}
.ngui-primary-active-color {
    color: $ngui-primary-active-color;
}
.ngui-primary-active-bg-color {
    background-color: $ngui-primary-active-color;
    filter:none;
}
.ngui-primary-active-border-color {
    border-color: $ngui-primary-active-color;
}
.ngui-info-color {
    color: $ngui-info-color;
}
.ngui-info-bg-color {
    background-color: $ngui-info-color;
    filter:none;
}
.ngui-info-border-color {
    border-color: $ngui-info-color;
}
.ngui-info-active-color {
    color: $ngui-info-active-color;
}
.ngui-info-active-bg-color {
    background-color: $ngui-info-active-color;
    filter:none;
}
.ngui-info-active-border-color {
    border-color: $ngui-info-active-color;
}
.ngui-warning-color {
    color: $ngui-warning-color;
}
.ngui-warning-bg-color {
    background-color: $ngui-warning-color;
    filter:none;
}
.ngui-warning-border-color {
    border-color: $ngui-warning-color;
}
.ngui-gray-color {
    color: $ngui-gray-color;
}
.ngui-gray-bg-color {
    background-color: $ngui-gray-color;
    filter:none;
}
.ngui-gray-border-color {
    border-color: $ngui-gray-color;
}
.ngui-gray-lite-color {
    color: $ngui-gray-lite-color;
}
.ngui-gray-lite-bg-color {
    background-color: $ngui-gray-lite-color;
    filter:none;
}
.ngui-gray-lite-border-color {
    border-color: $ngui-gray-lite-color;
}
.ngui-gray-darker-color {
    color: $ngui-gray-darker-color;
}
.ngui-gray-darker-bg-color {
    background-color: $ngui-gray-darker-color;
    filter:none;
}
.ngui-gray-darker-border-color {
    border-color: $ngui-gray-darker-color;
}
.ngui-font-important-color {
    color: $ngui-font-important-color;
}
.ngui-font-important-bg-color {
    background-color:$ngui-font-important-color;
    filter:none;
}
.ngui-font-important-border-color {
    border-color: $ngui-font-important-color;
}
.ngui-font-normal-color {
    color: $ngui-font-normal-color;
}
.ngui-font-normal-bg-color {
    background-color: $ngui-font-normal-color;
    filter:none;
}
.ngui-font-normal-border-color {
    border-color: $ngui-font-normal-color;
}
.ngui-font-normal-backup-color {
    color: $ngui-font-normal-backup-color;
}
.ngui-font-normal-backup-bg-color {
    background-color: $ngui-font-normal-backup-color;
    filter:none;
}
.ngui-font-normal-backup-border-color {
    border-color: $ngui-font-normal-backup-color;
}
