@charset "UTF-8";
.primary-color {
    color: $primary-color;
}
.ngui-primary-bg-color {
    background-color: $primary-color;
    filter:none;
}
.ngui-primary-border-color {
    border-color: $primary-color;
}
.primary-active-color {
    color: $primary-active-color;
}
.ngui-primary-active-bg-color {
    background-color: $primary-active-color;
    filter:none;
}
.ngui-primary-active-border-color {
    border-color: $primary-active-color;
}
.warning-color {
    color: $warning-color;
}
.ngui-info-bg-color {
    background-color: $warning-color;
    filter:none;
}
.ngui-info-border-color {
    border-color: $warning-color;
}
.ngui-warning-active-color {
    color: $warning-active-color;
}
.ngui-info-active-bg-color {
    background-color: $warning-active-color;
    filter:none;
}
.ngui-info-active-border-color {
    border-color: $warning-active-color;
}
.ngui-danger-color {
    color: $danger-color;
}
.ngui-warning-bg-color {
    background-color: $danger-color;
    filter:none;
}
.ngui-warning-border-color {
    border-color: $danger-color;
}
.ngui-gray-color {
    color: $gray-light-color;
}
.ngui-gray-bg-color {
    background-color: $gray-light-color;
    filter:none;
}
.ngui-gray-border-color {
    border-color: $gray-light-color;
}
.ngui-gray-lite-color {
    color: $white-dark-color;
}
.ngui-gray-lite-bg-color {
    background-color: $white-dark-color;
    filter:none;
}
.ngui-gray-lite-border-color {
    border-color: $white-dark-color;
}
.ngui-gray-darker-color {
    color: $silver-lighter-color;
}
.ngui-gray-darker-bg-color {
    background-color: $silver-lighter-color;
    filter:none;
}
.ngui-gray-darker-border-color {
    border-color: $silver-lighter-color;
}
.font-normal-color {
    color: $font-default-color;
}
.ngui-font-important-bg-color {
    background-color:$font-default-color;
    filter:none;
}
.ngui-font-important-border-color {
    border-color: $font-default-color;
}
.font-normal-light-color {
    color: $font-default-light-color;
}
.ngui-font-normal-bg-color {
    background-color: $font-default-light-color;
    filter:none;
}
.ngui-font-normal-border-color {
    border-color: $font-default-light-color;
}
.font-normal-lighter-color {
    color: $font-default-lighter-color;
}
.ngui-font-normal-backup-bg-color {
    background-color: $font-default-lighter-color;
    filter:none;
}
.ngui-font-normal-backup-border-color {
    border-color: $font-default-lighter-color;
}
