h1 {
    font-size: 24px;
    line-height: 36px;
}
h2 {
    font-size: 18px;
    line-height: 27px;
}
h3 {
    font-size: 14px;
    line-height: 21px;
}
h4 {
    font-size: 12px;
    line-height: 18px;
}
.super-title {
    font-size: 24px;
    line-height: 34px;
    padding: 15px 0;
    border-bottom: 1px dotted $table-border-color;
    .sub-title {
        float: right;
        font-size: 14px;
    }
}
.font-normal-color {
    color: $font-default-color;
}
.font-normal-light-color {
    color: $font-default-light-color;
}
.font-normal-lighter-color {
    color: $font-default-lighter-color;
}

.font-link-color {
    color: $font-link-color;
}
.font-danger-color {
    color: $font-danger-color;
}
