.ngui2-loading-mask {
  position: absolute;
  z-index: 999;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;

  .ngui2-loading-icon {
    height: $loading-spinner-size;
    width: $loading-spinner-size;
  }

  &.is-fullscreen {
    position: fixed;
    background-color: rgba(255, 255, 255, .9);

    .ngui2-loading-spinner {
      margin-top: -$loading-spinner-size / 2;
    }
  }
}
.ngui2-loading-spinner {
  top: 50%;
  margin-top: -$loading-spinner-size / 2;
  width: 100%;
  text-align: center;
  position: absolute;

  .ngui2-loading-text {
    color: $silver-lighter-color;
    margin: 3px 0;
    font-size: 14px;
  }
}
