input[type=radio] {
    @include input-radio();
    @include input-radio-color($primary-color, $primary-color);
    width: 15px;
    height: 15px;
    &:checked:before{
        height: 7px;
        width: 7px;
        border-radius: 100%;
        margin: 3px 0 0 3px;
    }
}

input.radio-lg {
    width: 19px;
    height: 19px;
    &:checked:before{
        height: 11px;
        width: 11px;
        border-radius: 100%;
        margin: 3px 0 0 3px;
    }
}
