// .fade-in-linear-enter-active,
// .fade-in-linear-leave-active {
//   transition: $fade-linear-transition;
// }
// .fade-in-linear-enter,
// .fade-in-linear-leave,
// .fade-in-linear-leave-active {
//   opacity: 0;
// }

// .ngui2-fade-in-enter-active,
// .ngui2-fade-in-leave-active {
//   transition: all .3s cubic-bezier(.55,0,.1,1);
// }
// .ngui2-fade-in-enter,
// .ngui2-fade-in-leave-active {
//   opacity: 0;
// }

// .ngui2-zoom-in-center-enter-active,
// .ngui2-zoom-in-center-leave-active {
//   transition: all .3s cubic-bezier(.55,0,.1,1);
// }
// .ngui2-zoom-in-center-enter,
// .ngui2-zoom-in-center-leave-active {
//   opacity: 0;
//   transform: scaleX(0);
// }

.ngui2-zoom-in-top-enter-active,
.ngui2-zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: $md-fade-transition;
  transform-origin: center top;
}
.ngui2-zoom-in-top-enter,
.ngui2-zoom-in-top-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

// .ngui2-zoom-in-bottom-enter-active,
// .ngui2-zoom-in-bottom-leave-active {
//   opacity: 1;
//   transform: scaleY(1);
//   transition: $md-fade-transition;
//   transform-origin: center bottom;
// }
// .ngui2-zoom-in-bottom-enter,
// .ngui2-zoom-in-bottom-leave-active {
//   opacity: 0;
//   transform: scaleY(0);
// }
